
/* Tích hợp giao diện */
/* mobile*/
@media only screen and (max-width: 600px) {
    .search input {
        width: 100%;
        margin-right: 0;
    }
    .post-trai {
        width: 100%;
        margin-right: 0;
    }
    .container1 {
        width: 100%;
        margin-left: 0px;
    }
    .info {
        padding-top: 10px; 
        margin: 10px;
    }

    .info span {
        padding-bottom: 5px;
    }

    .info a {
        line-height: 22px; 
    }

    #tren {
        height: auto;
    }

    #tren .info {
        width: 100%; 
        margin: 10px; 
    }
    
    #tren ul {
        padding: 0; 
    }
    img {
        max-width: 100%; /* Điều chỉnh kích thước cho màn hình nhỏ hơn 600px */
    }
    .video-container {
        padding-bottom: 35%; /* Tỷ lệ khung hình 4:3 cho di động */
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Tỷ lệ khung hình 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-comput {
  /* Thêm CSS cho phần video-comput khi ở chế độ di động */
  flex-direction: column; /* Hiển thị các thành phần theo chiều dọc */
}

.video-comput-right,
.video-comput-left {
  width: 100%; /* Đặt chiều rộng 100% cho phần video-comput-right và video-comput-left */
}
    
}

/*desktop*/
@media only screen and (min-width: 601px) {
    .search input {
        width: 300px;
        margin-right: 10px;
    }
    .info {
        padding-top: 30px;
        margin: 20px;
    }
}


/* CSS cho container */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.container {
    max-width: 1178px; /* Điều chỉnh chiều rộng tối đa của container theo ý muốn */
    margin: 0 auto; /* Căn giữa container */
}
.container1 {
    max-width: 826px; /* Điều chỉnh chiều rộng tối đa của container theo ý muốn */
    margin-left: 175px; 
}
/* CSS cho thanh điều hướng */
.navbar {
    background-color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #070707;
    font-weight: bold;
}

.navbar a:hover {
    color: #ff9900;
}


.navbar {
    font-family: 'Roboto', sans-serif;
    /* Các quy tắc CSS khác cho thanh điều hướng */
}

.story{
    margin-top:20px ;
}
.story-title{
    max-width: 1140px;
    margin: 0 auto;
}
.story-title span{
    font-size: 20px;
}

.story-item {
    display: flex;
    gap: 15px; /* Điều chỉnh khoảng cách giữa các ảnh */
    width: 100%;
    overflow-x: auto;/* Hiện tab kéo */
}
  
.story-item-detail img {
    width: 108px; /* Điều chỉnh kích thước ảnh theo ý muốn */
    height: 180px;
    border-radius: 10%; /* Bo tròn viền cho ảnh */
    /* filter: blur(1px); Điều chỉnh giá trị theo ý muốn */
    /* opacity: 0.8; Điều chỉnh giá trị theo ý muốn */
}

.story-title-duoi {
    overflow: hidden;
}
  
.story-item-detail {
    flex: 0 0 auto;
    scroll-snap-align: start;    
    position: relative;
}
.story-item-detail p {
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
}  
.post{
    max-width: 1140px;
    display: flex;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:#0768ea;
}
/* .post a {
    text-decoration: none;
    color: black;
}

.post a:hover {
    color:#0768ea;
} */

.post-giua-hover h4:hover {
    color:#0768ea;
}

.post-giua-hover p:hover {
    color: #070707;
}

.post-trai{
    margin: 10px 10px 10px 0px; /* Điều chỉnh khoảng cách giữa các phần tử */
}

.post-trai img {
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ width của phần tử cha */
    border-radius: 10px; /* Điều chỉnh độ cong của viền ảnh */
}

.post-trai-bottom {
    max-width: 835px;
    margin-left: 180px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.post-trai-img {
    height: 240px;
    width: 260px;
    margin-right: 20px; /* Khoảng cách giữa mỗi hình ảnh và tiêu đề */
}
.post-trai-img img {
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ width của phần tử cha */
    border-radius: 10px; /* Điều chỉnh độ cong của viền ảnh */
}

/* .post-trai-img a {
    text-decoration: none;
    color: black;
}

.post-trai-img a:hover {
    color:#0768ea;
} */
.post-giua{
    flex: 2;
    margin: 10px; /* Điều chỉnh khoảng cách giữa các phần tử */
    text-align: center; /* Căn giữa nội dung trong .post-giua */
}

.post-giua img {
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ width của phần tử cha */
}

.post-giua-content {
    padding: 0px 16px 12px 16px;
    background-color: #e0e0e0;
}

.post-giua-content h4{
    margin-block-end: 0px;
    margin-block-start: 0px;
    text-align:justify;
}

.post-giua-content p {
    text-align:justify;
}

.post-phai {
    flex: 2;
    margin: 10px; /* Điều chỉnh khoảng cách giữa các phần tử */
    overflow: hidden; /* Ẩn phần bên trái và trên của phần tử */
    border-radius: 10px 0 0 10px; /* Bo tròn góc bên trái */
    border-bottom-left-radius: 10px; /* Bo tròn góc dưới bên trái */
    border-bottom: 1px solid blue; /* Thêm viền dưới cho phần tử */
    border-left: 1px solid blue; /* Thêm viền trái cho phần tử */
    border-right: none; /* Ẩn viền bên phải */
    border-top: none; /* Ẩn viền phía trên */
}
.post-phai-detail {
    position: relative;
    margin-left: 10px; /* Tăng khoảng cách giữa dấu chấm và nội dung */
    display: flex;
    align-items: center; /* Canh giữa theo chiều dọc */
    padding:10px;
}

.post-phai-detail img {
    width: 120px;
    height: 60px;
    /* width: 60%; Đảm bảo ảnh chiếm toàn bộ width của phần tử cha */
    border-radius: 8px; /* Điều chỉnh độ cong của viền ảnh */
}
.post-phai-detail a {
    font-size: 14px;
    font-weight: bold;
    color: #070707;
    text-decoration: none;    
    margin-right: 10px; /* Khoảng cách giữa tiêu đề và hình ảnh */
}
.post-phai-detail a:hover{
    color:#0768ea;
}
.post-phai-detail::before {
    content: '\2022'; /* Ký tự dấu chấm tròn */
    position: absolute;
    left: -15px; /* Điều chỉnh khoảng cách giữa dấu chấm và nội dung */
    top: 50%;
    font-size: 25px; /* Điều chỉnh kích thước của dấu chấm */
    color: blue; /* Màu sắc của dấu chấm */
    z-index: 1; /* Đặt z-index để nó đè lên trên bo viền */
}

.creator {
    background-color: #01152F;
    max-width: 1155px;
    margin: 0px auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
}
.creator-widget {
    border-bottom: 1px solid #fff;
    height: 140px;
}
.creator-header {
    height: 240px;
    width: 260px;
    margin-right: 20px; /* Khoảng cách giữa mỗi hình ảnh và tiêu đề */
    display: flex;
    text-align: right;
}

.creator-header-logo{
    max-width: 1140px;
    margin: 0 auto;
}
.top-creator {
    display: flex;
    text-align: right;
}
.top-creator img {
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ width của phần tử cha */
    border-radius: 10px; /* Điều chỉnh độ cong của viền ảnh */
}

.top-creator-img {
    align-items: center; /* Canh giữa theo chiều dọc */
    margin-bottom: 20px; /* Khoảng cách giữa các item */
}
  
.top-creator-img img {
    width: 100px; /* Điều chỉnh kích thước ảnh */
    height: 100px;
    border-radius: 50%; /* Bo tròn góc ảnh để tạo hình tròn */
    margin-right: 20px; /* Khoảng cách giữa ảnh và nội dung văn bản */
}

.top-creator-img h2 {
    margin: 0; /* Loại bỏ margin mặc định của h2 */
    color: #fff;
}

.story-item-detail a {
    text-decoration: none;
    color: #fff;
}
.story-item-detail a:hover{
    color:#0768ea;
}
  .topblog{
    max-width: 1140px;
    margin:0px auto;
  }
  .topblog-right, .topblog-left {
    flex: 1; /* Phân chia đều không gian cho topblog-right và topblog-left */
    margin: 0 10px; /* Khoảng cách giữa topblog-right và topblog-left */
    display: flex;

  }
.topblog-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogtag{
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;  
    margin-bottom: 15px; 
}

.blogtag a:hover{
    color: #000;
}
.deep-talk {
    padding: 30px 24px;
    flex-direction: column;
    display: flex;
    background-color: #f2f4f7;
    border-radius: 3%;
}

.deep-talk-head {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.deep-talk-head a {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.deep-talk-head img {
    width: 140px;
    max-width: 100%;
    margin-right: 16px;
}

.deep-talk-head span {
    color: hsl(330,85%,48%);
    font-size: 18px;
    font-weight: 700;
}

.deep-talk-main {
    padding-bottom: 12px;
    overflow: hidden;
}

.deep-talk-threads {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.deep-talk-item {
    width: 180px; /* Điều chỉnh kích thước ảnh theo ý muốn */
    height: 280px;
    display: flex;
    scroll-snap-align: start;    
    margin-bottom: 10px;
}

.deep-talk-item a:hover {
    cursor: pointer;
    color: #0768ea;
}

.deep-talk-thumb {
    width: 160px; /* Điều chỉnh kích thước ảnh theo ý muốn */
    height: 280px;
    bottom: 10px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.deep-talk-thumb img{
    width: 160px; /* Điều chỉnh kích thước ảnh theo ý muốn */
    height: 280px;
    border-radius: 5%; /* Bo tròn viền cho ảnh */
}

.deep-talk-title {
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    position: absolute;
    margin: 0px;
    left: 12px;
    right: 12px;
    bottom: 35px;
}

.deep-talk-underline {
    width: 64px;
    height: 3px;
    margin: 8px auto 0px;
    border-radius: 15px;
    background-color: #FFF;
    position: absolute;
    bottom: 20px;
    left: 50px;
    right: 50px;
}

.top-threads{
    height: 360px;
    margin-bottom: 10px;
    background-image: linear-gradient(0, #5ec3b7, #1c48f3) ;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 10px;
    overflow-x: auto;/* Hiện tab kéo */
}
.top-threads-title{
    max-width: 1140px;
    margin: 0 auto;
}
.top-threads-title span{
    font-size: 20px;
}
.top-threads-title-tren{
    margin-top: 25px;
    color: #FFF;
}
.top-threads-item {
    display: flex;
    gap: 15px; /* Điều chỉnh khoảng cách giữa các ảnh */
    width: 100%;
}

.top-threads-item-detail img {
    border-radius: 5%; /* Bo tròn viền cho ảnh */
    width: 212px ;
    height: 126px;
}
.top-threads-item-detail-text{
  padding: 10px;
  color: black;
}
.top-threads-item-detail-text span{
  font-size: 12px;
  color: black;
}
.top-threads-title-duoi {
    margin-top: 25px;
    /* overflow: hidden; */
    color: black;
}

.top-threads-item-detail {
    height: 249px;
    flex: 0 0 auto;
    position: relative;
    background-color:#FFF;
    border-radius: 5%; /* Bo tròn viền cho ảnh */
    box-sizing: border-box;
    width: 212px ;
    height: 254px;
}
/* .top-threads-item-detail p {
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
}   */
.top-threads a:hover{
    color: #0768ea;
}
.content-container-right img {
    width: 240px;
    height: 147px;
    /* width: 100%; */
    border-radius: 8px;
}
.text-content-left {
    flex: 2;
    padding: 0 20px;
}


.text-content-left a img {
    width: 30px; /* Điều chỉnh kích thước của ảnh user */
    border-radius: 50%; /* Bo tròn góc cho ảnh user */
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.2s;
}


.item-container {
  align-items: center; /* Canh giữa theo chiều dọc */
  margin-bottom: 20px; /* Khoảng cách giữa các item */
}

.item-container img {
  width: 100px; /* Điều chỉnh kích thước ảnh */
  height: 100px;
  border-radius: 50%; /* Bo tròn góc ảnh để tạo hình tròn */
  margin-right: 20px; /* Khoảng cách giữa ảnh và nội dung văn bản */
}

.item-container .text-content {
  flex-grow: 1; /* Cho phép nội dung văn bản mở rộng để chiếm hết phần còn lại */
}

.item-container h2 {
  margin: 0; /* Loại bỏ margin mặc định của h2 */
  color: #fff;
}
.form-group button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #4a57e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;  
    margin-bottom: 10px; 
}

.form-group button:hover {
    background-color: #45a049;
}

.video {
    max-width: 826px; 
    height: 350px; 
    background-color:#01152F;
    overflow: auto; /* Tạo thanh cuộn khi nội dung vượt quá kích thước */
    box-sizing: border-box;
   
}

.video-row {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    width: 100%;
}

.video-row-item {
    white-space: nowrap; /* Ngăn chữ xuống dòng để ảnh và chữ nằm trên cùng 1 hàng */
    color: #fff;
    padding: 16px 10px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.video-row-item-detail {
    overflow: hidden;
    width: 100%;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color:#01152F;
    border-width: none;
    border-style: none;
    border-color: none;
    border-image: none;
}

.video-row-item-detail:hover {
    background-color: #0f295b;
}
.video-row-picture {
    display: block;
}
.video-row-picture img {
    width: 132px;
    aspect-ratio: auto 132 / 84;
    height: 84px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.video-row-content {
    flex: 1 1 0px;
    margin-left: 12px;
}

.video-row-content h4 {
    color: #ffffff;
    text-align: left;
    overflow: hidden;
    font-size: 16px;
}

.form-group-video button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #E6F0FD;
    color: #1570EF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;  
    margin-bottom: 10px; 
    font-size: 16px;
}

.video-comput{
    max-width: 1178px;
    margin: 0px auto;
    margin-top: 10px;
    margin-left: 175px;
    display: flex;
}
.video-comput-left{
    flex: 6;
}
.video-comput-right {
    flex: 2;
}
.video-comput-right-tag{
    border: none;
    border-radius: 10px;
    width: 332px;
    height: 187px;
    background-color: #f2f4f7;
}
.video-comput-right-congdong {
    border: 1px solid #b1aeae;
    border-radius: 15px;
    width: 332px;
    height: 390px;
}
 /* Định dạng các phần tử container để hiển thị trên cùng một hàng */
 .custom-container {
    display: flex;
    justify-content: space-around; /* Các phần tử con sẽ được căn giữa và cách nhau một khoảng */
    align-items: center; /* Căn các phần tử con theo chiều dọc */
}

/* Định dạng mỗi phần tử con */
.custom-item {
    text-align: center;
}
.custom-img-tag {
    height: 60px;
    width: 90px;
}
/* Định dạng ảnh */
.custom-img-congdong {
    height: 90px;
    width: 145px;
}

.button-watch-all button {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #e5e6ed;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-bottom: 10px; 
    margin-left: 30px;
}

